{% extends "base.html" %}

{% block title %} Admin Dashboard | EaseHeaven {% endblock %}

{% block navbar %}
<div class="container-fluid">


    <div class="ml-auto" style="display: flex; align-items: flex-start; gap: 10px; ">
        <H5 style="color: white; margin-left: 500px; margin-top: 8px;" >Welcome, Admin</H5>
        
     


  <div style="position: relative;">
    <img src="{{ url_for('static', filename='91.png') }}" alt="Profile" id="profile-icon" width="30" height="24" class="d-inline-block align-text-top" style="margin-top: 8px; cursor: pointer;">

    <div id="profile-dropdown" style="
          display: none;
          position: absolute;
          top: 40px;
          right: 0;
          background-color: #fff;
          border-radius: 6px;
          box-shadow: 0 4px 8px rgba(0,0,0,0.2);
          width: 210px;
          z-index: 1000;">
      
      <a href="/logout" style="display: block; padding: 10px; text-decoration: none; color: #333;">Logout</a>
    </div>
  </div>
</div>
</div>

{% endblock %}

    
{% block content %}

    
        <div class="side_card" style="display: flex; gap: 40px; align-items: flex-start;">


  <div class="card" style="height: 860px; width: 250px; border-radius: 8px; background-color: black; padding: 20px;">
    <a class="nav-link" style="color:whitesmoke; display: block;" href="/Customers_management">Customers Management</a>
    <a class="nav-link" style="color:whitesmoke; display: block;" href="/Partner_Management">Partners Management</a>
    <a class="nav-link" style="color:whitesmoke; display: block;" href="/Service_Management">Service Management</a>
  </div>


  <div style="display: flex; flex-direction: column; gap: 30px;">

    
    <div style="display: flex; gap: 40px;">
      
      <div>
        <h5 style="margin-bottom: 10px; color: white;">Service Management</h5>
        <div class="card" style="height: 400px; width: 500px; border-radius: 15px; background-color: white;">
          <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
            <form action="{{ url_for('service') }}" method="post">
            <h4 style="color: black; margin-left: 10px;">Create New Services</h4>
            <br>
            <label for="username" class="form-label" style="margin-left: 40px; color: black;">Service Name</label>
            <input type="text" class="form-control" id="username" placeholder="Service Name" name="service" style="width: 300px; margin-left: 40px; font-weight: bold;"><br>
            <label for="price" class="form-label" style="margin-left: 40px; color: black;">Base Price (per day)</label>
            <input type="text" class="form-control" id="price" placeholder="Base Price" name="price" style="width: 300px; margin-left: 40px; font-weight: bold;"><br>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px; width: 200px; margin-left: 75px; border-radius: 15px; background-color: black; color: white;">Create Service</button>
          </form>
          </div>
        </div>
      </div>

      
      <div>
        <form class="d-flex" role="search" style="margin-top: 40px; width: 500px;" action="/Show_table" method="post" >
          <input class="form-control mr-2" name="service_name" type="search" placeholder="Search Services by SERVICE ID" aria-label="Search Services by SERVICE ID">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <div class="card" style="height: 335px; width: 500px; border-radius: 15px; background-color: white; margin-top: 20px;">
          <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
            <h4 style="color: black; margin-left: 10px;">Service Details</h4>
            {% if result %}
            <h6 style="color: black; margin-left: 10px;">Name :- {{ result[0] }} </h6>
            <h6 style="color: black; margin-left: 10px;">Base Price :- ${{ result[1] }} </h6>
            <br>
            {% else %}
            <h6 style="color: black; margin-left: 10px;">No Service Found</h6>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>

    
    <div class="card" style="height: 400px; width: 1050px; border-radius: 15px; background-color: white;">
      <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
        <h4 style="color: black; margin-left: 10px;">Existing Service List</h4>
        
        <br>
        <div style="overflow-y: auto; height: 280px; width: 1000px; margin-left: 10px;">

        <table class="table table-bordered" style="width: 900px;">
      <thead>
        <tr>
          <th>Service</th>
          <th>Base_price</th>
          
        </tr>
      </thead>
      <tbody>
        {% for user1 in table1 %}
        <tr>
          <td>{{ user1[0] }}</td>
          <td>{{ user1[1] }}</td>
          <td>
          <div style="display: flex; align-items: flex-start;">

             <form method="POST" action="{{ url_for('delete', service_id=user1[2]) }}">
             <button class="btn btn-danger" style="width: 100px; margin-left: 75px;" >Delete</button>
             </form>
              <form method="POST" action="/update_service/{{ user1[2] }}" id="form-{{ user1[2] }}">
               <input type="hidden" name="service" value="{{ user1[0] }}">
               <input type="hidden" name="price" value="{{ user1[1] }}">
              <button  style="margin-left: 20px; height: 38px;"   type="button" class="btn btn-success btn-sm"onclick="editservice({{ user1[2] }}, '{{ user1[0] }}', {{ user1[1] }})">
                 Update
              </button>
              </form>
          </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>    
    </div>
    </div>
    </div>
</div>

    <div style="display: flex; gap: 30px; margin-top: 30px;">
    <div class="card" style="height: 350px; width: 700px; border-radius: 15px; background-color: white; align-items: flex-start;">
      <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
        <h4 style="color: black; margin-left: 10px;">Users Review</h4>
        <div style="overflow-y: auto; height: 280px; width: 600px; margin-left: 10px;">
        <table class="table table-bordered" style="width: 650px;">
      <thead>
        <tr>
          <th style="width: 150px;">Username</th>
          <th style="width: 300;">Review</th>
          
        </tr>
      </thead>
      <tbody>
        {% for user1 in table2 %}
        <tr>
          <td>{{ user1[0] }}</td>
          <td>{{ user1[1] }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>



        
        
      </div>
    </div>

    
<div class="card" style="height: 350px; width: 700px; border-radius: 15px; background-color: white; align-items: flex-start;">
      <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
        <h4 style="color: black; margin-left: 10px;">Professionals Feedback</h4>
        
        
        
      </div>
    </div>



    


</div>

  


{% endblock %}

{% block scripts %}
<script>
  function editservice(id , currentName, currentPrice){
  const newName = prompt("Enter new service name:", currentName);

  if (newName === null) return; 

    const newPrice = prompt("Enter new price:", currentPrice);
    if (newPrice === null || isNaN(newPrice)) {
      alert("Invalid price");
      return;
    }

    const form = document.getElementById(`form-${id}`);
    form.querySelector('input[name="service"]').value = newName;
    form.querySelector('input[name="price"]').value = newPrice;

    form.submit();
  }


const icon = document.getElementById("profile-icon");
    const dropdown = document.getElementById("profile-dropdown");

    icon.addEventListener("click", function(e){
        e.stopPropagation();
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";


    });

    window.addEventListener("click", function () {
    dropdown.style.display = "none";
  });
  
</script>
{% endblock %}