{% extends "base.html" %}

{% block title %} Partner Dashboard | EaseHeaven {% endblock %}

{% block navbar %}
        
        <div class="container-fluid" >
            <img src="menu.png" onclick="toggleMenu()" style="width:30px;cursor:pointer;">

            <div id="menu" style="display:none;">
                  <a href="#">Home</a><br>
                  <a href="#">About</a>
            </div>
    
        <form class="d-flex" role="search" style="margin-left: 300px;">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
       
    <div class="ml-auto" style="display: flex; align-items: flex-start;">
        <H5 style="color: white;">Welcome, Professional</H5>
        <img src="{{ url_for('static', filename='56.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </div>

        
</div>

{% endblock %}

    
{% block content %}

    <div style="margin-left: 10px;">
        <h3 style=" color: white;">Ongoing Services</h3>
        <div class="card" style="height: 400px; width: 1050px; border-radius: 15px; background-color: white; margin-top: 20px;">
      <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
        <h5 style="color: black; margin-left: 10px;">Existing Service Request</h5>
        
        <br>
        
      </div>
    </div>

    </div>

    <div style="display: flex; gap: 40px;">

    <div style="margin-left: 10px; ">
        <form class="d-flex" role="search" style="margin-top: 40px; width: 500px;">
          <input class="form-control mr-2" type="search" placeholder="Search Services by Customer_ID" aria-label="Search Services by Professional_ID">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <div class="card" style="height: 300px; width: 500px; border-radius: 15px; background-color: white; margin-top: 20px;">
          <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
            <h4 style="color: black; margin-left: 10px;">Customer Details</h4>
            <h6 style="color: black; margin-left: 10px;">Name :-</h6>
            <h6 style="color: black; margin-left: 10px;">Email :-</h6>
            <h6 style="color: black; margin-left: 10px;">Address :-</h6>
            <h6 style="color: black; margin-left: 10px;">Phone number :-</h6>
            <br>
            <div style="display: flex; align-items: flex-start;">
              <button class="btn btn-danger" style="width: 100px; margin-left: 75px;">Block</button>

              <button class="btn btn-success" style="width: 150px; margin-left: 75px;">Unblock</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="height: 380px; width: 500px; border-radius: 15px; background-color: white; margin-top: 20px;">
          <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
          <h5 style="color: black; margin-left: 10px;">Write a Customer Review</h5>
      </div>
      <form class="d-flex" style="margin-top: 40px; width: 500px;">
        <textarea class="form-control mr-2" style="margin-left: 50px; height: 200px; width: 300px;" placeholder="Review" aria-label="Write your review here"></textarea>
        <button class="btn btn-outline-light" type="submit" style="width: 100px; color: white; background-color: black;">Submit Review</button>
      </form>
      </div>
      </div>

      <div>
        <div class="card" style="height: 400px; width: 1050px; margin-left: 10px; margin-top: 80px; border-radius: 15px; background-color: white;">
      <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
        <h5 style="color: black; margin-left: 10px;">Your Service Request</h5>
        
        <br>
        <div style="display: flex; align-items: flex-start;">
          <button class="btn btn-success" style="width: 100px; margin-left: 75px;">Accept</button>
          <button class="btn btn-danger" style="width: 100px; margin-left: 75px;">Reject</button>

          
        </div>
      </div>
    </div>
      </div>

     <div style="margin-left: 10px; margin-top: 50px;">
        <h3 style=" color: white;">Your Service History</h3>
        <div class="card" style="height: 400px; width: 1050px; border-radius: 15px; background-color: white; margin-top: 20px;">
      <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
        <h5 style="color: black; margin-left: 10px;">Service History</h5>
        
        <br>
        
      </div>
      </div>

    </div>


    <div style="margin-left: 10px; margin-top: 50px;">
        <h3 style=" color: white;">Overall Service Requests</h3>
        <div class="card" style="height: 400px; width: 1050px; border-radius: 15px; background-color: white; margin-top: 20px;">
      <div class="mb-3" style="width: 250px; margin-left: 25px; margin-top: 20px;">
        <h5 style="color: black; margin-left: 10px;">Overall Service Requests</h5>
        
        <br>
        
      </div>
    </div>

    </div>

  {% endblock %}
    

