<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EaseHeaven</title>
        <link rel="icon" type="image/png" hrefhref="{{ url_for('static', filename='icon.png') }}">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <nav class="navbar navbar-expand-lg navbar-dark mt-4" style="background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px); margin: 20px auto; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
         
        
        <div class="container-fluid" >
            <img src="menu.png" onclick="toggleMenu()" style="width:30px;cursor:pointer;">

            <div id="menu" style="display:none;">
                  <a href="#">Home</a><br>
                  <a href="#">About</a>
            </div>
    
        <form class="d-flex" role="search" style="margin-left: 300px;">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
       
    <div class="ml-auto" style="display: flex; align-items: flex-start;">
        <H5 style="color: white;">Welcome, User</H5>
        <img src="{{ url_for('static', filename='56.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </div>

        </nav>
</div>

    </head>
    <body style="background-color: rgb(203, 28, 222);">
        <div style="display: flex; align-items: flex-start;">
        <div class="heading" style=" margin-left: 300px; margin-top: 100px;">
           <h1 style="color: white;">What</h1>
           <h4 style="color: white;">Are You Looking For ?</h4>
           <img src="/EaseHeaven-2.O/static/57.png" style="border-radius: 8px; height: 500px; width: 400px; margin-top: 10px; object-fit: contain;">

        <div class="card" style="height: 350px; width: 300px; margin-left: 250px; margin-top: 50px; border-radius: 10px;">
            <div class="mb-3" style="width: 250px; margin-left: 20px; margin-top: 20px;">
                 <label for="username" class="form-label" style="color: black;">Username</label>
                <input type="username" class="form-control" id="username" placeholder="username">
                <label for="password" class="form-label" style="color: black; margin-top: 10px;">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password">
                <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 250px; background-color: black; color: white;" >Sign In</button>
                <a href="https://example.com" style="text-decoration: underline; color: black; margin-top: 30px;">Forgot Password?</a>
            </div>
        </div>
        </div>

    </div>
    </body>

    </html>

<script>
    function toggleMenu(){
        const menu = document.getElementById('menu');
        menu.style.display=(menu.style.display="none" ) ?"block": "none";
    }
</script>